[project]
name = "tactill"
version = "0.6.0"
requires-python = ">=3.14"
dependencies = [
    "httpx>=0.28",
    "pydantic>=2.12",
    "tenacity>=9.1",
]

[dependency-groups]
dev = [
    "coverage==7.12.0",
    "mypy==1.18.2",
    "pre-commit==4.5.0",
    "pytest==9.0.1",
    "pytest-vcr==1.0.2",
    "python-dotenv==1.2.1",
    "ruff==0.14.6",
]

[tool.ruff]
output-format = "concise"

[tool.ruff.lint]
select = [
    "E", "W",  # pycodestyle
    "F",  # Pyflakes
    "UP",  # pyupgrade
    "B",  # flake8-bugbear
    "SIM",  # flake8-simplify
    "I",  # isort
    "PL",  # Pylint
    "RUF",
]
ignore = [
    "PLR0913",  # Too many arguments in function definition
]

[tool.mypy]
strict = true
plugins = ['pydantic.mypy']

[tool.pytest.ini_options]
testpaths = [
    "tests",
]
addopts = [
    "--log-disable=vcr.cassette",
]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] %(name)30s - %(message)s"
