interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/articles?limit=5000&filter=deprecated%3Dfalse%26is_default%3Dfalse%26full_price%3D1.0&node_id=59df3841568f630001ef9cbf
  response:
    body:
      string: '[{"_id":"59f6ef0ebf4061001698603d","node_id":"59df3841568f630001ef9cbf","category_id":"59f6ef0abf40610016985867","name":"Consigne
        caisse vide","icon_text":"Con ","summary":"","image":"","color":"#F2BA43","barcode":"","reference":"","unit":"","weight":0,"in_stock":false,"ignore_stock":true,"buy_price":0,"full_price":1,"options":[],"variations":[],"is_default":false,"taxes":["59f6ef0abf40610016985960"],"discounts":[],"test":false,"deprecated":false,"updated_at":"2026-01-23T09:07:56.167Z","created_at":"2017-10-30T09:21:17.719Z","__v":0,"declinations":[],"taxfree_price":1}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
