interactions:
- request:
    body: '{"test":false,"name":"Test","rate":1.0,"type":"rate","start_date":"2023-01-01T00:00:00","end_date":"2023-12-31T00:00:00","barcode":"123","icon_text":"TEST","color":"#57DB47","shop_id":"59df3841568f630001ef9cbc"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/discounts
  response:
    body:
      string: '{"created_at":"2026-01-23T09:08:02.251Z","updated_at":"2026-01-23T09:08:02.251Z","deprecated":false,"test":false,"shop_id":"59df3841568f630001ef9cbc","name":"Test","rate":1,"type":"rate","start_date":"2023-01-01T00:00:00.000Z","end_date":"2023-12-31T00:00:00.000Z","barcode":"123","icon_text":"TEST","color":"#57DB47","_id":"69733a72d62e089f7aaaf339","__v":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: DELETE
    uri: https://api4.tactill.com/v1/catalog/discounts/69733a72d62e089f7aaaf339
  response:
    body:
      string: '{"statusCode":200,"error":"","message":"discount successfully deleted"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
