interactions:
- request:
    body: '{"category_id":"5d83c74690924d0008f55d3a","taxes":["5d70d4e5be8f9f001195ccc1"],"name":"","node_id":"59df3841568f630001ef9cbf"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/articles
  response:
    body:
      string: '{"statusCode":400,"error":"Bad Request","message":"Invalid request
        payload input"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
