interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/options?limit=1&node_id=59df3841568f630001ef9cbf
  response:
    body:
      string: '[{"_id":"69723b5c9bca1c1b3795117b","created_at":"2026-01-22T14:59:40.093Z","updated_at":"2026-01-22T14:59:40.474Z","deprecated":true,"test":false,"node_id":"59df3841568f630001ef9cbf","name":"Test","price":1,"__v":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
