interactions:
- request:
    body: '{"test":false,"color":"#57DB47","icon_text":"TEST","name":"Test","company_id":"59df3841568f630001ef9cad"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/categories
  response:
    body:
      string: '{"created_at":"2026-01-23T09:07:58.509Z","updated_at":"2026-01-23T09:07:58.509Z","deprecated":false,"test":false,"company_id":"59df3841568f630001ef9cad","is_default":false,"name":"Test","color":"#57DB47","icon_text":"TEST","image":"","_id":"69733a6ed20cc37fd45076c8","__v":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: DELETE
    uri: https://api4.tactill.com/v1/catalog/categories/69733a6ed20cc37fd45076c8
  response:
    body:
      string: '{"statusCode":200,"error":"","message":"category successfully deleted"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
