interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/taxes?limit=100&filter=name%3DTVA+20&company_id=59df3841568f630001ef9cad
  response:
    body:
      string: '[{"_id":"59df3841568f630001ef9cb4","company_id":"59df3841568f630001ef9cad","rate":20,"name":"TVA
        20","in_price":true,"is_default":false,"test":false,"deprecated":true,"updated_at":"2024-02-07T10:29:15.375Z","created_at":"2017-10-12T09:39:13.289Z","__v":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
