interactions:
- request:
    body: '{"is_default":false,"name":"","in_price":true,"rate":20.0,"company_id":"59df3841568f630001ef9cad"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/taxes
  response:
    body:
      string: '{"statusCode":400,"error":"Bad Request","message":"Invalid request
        payload input"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
