interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/packs?limit=1&node_id=59df3841568f630001ef9cbf
  response:
    body:
      string: '[{"_id":"69723b639bca1c1b3795119a","created_at":"2026-01-22T14:59:47.534Z","updated_at":"2026-01-22T16:04:16.112Z","deprecated":false,"node_id":"59df3841568f630001ef9cbf","articles":["5d85058251301a000790fc9b"],"full_price":2,"taxfree_price":1,"taxes":[],"discounts":["1d70d4e6be8f9f001195cccb"],"__v":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
