interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/option_lists?limit=1&node_id=59df3841568f630001ef9cbf
  response:
    body:
      string: '[{"_id":"69723b53d62e089f7aa7f26f","created_at":"2026-01-22T14:59:31.606Z","updated_at":"2026-01-22T14:59:31.944Z","deprecated":true,"node_id":"59df3841568f630001ef9cbf","options":["64e3230e2626360008a8ab07"],"name":"Test","multiple":false,"mandatory":true,"__v":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
