interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/catalog/discounts?limit=100&filter=name%3DOffert&shop_id=59df3841568f630001ef9cbc
  response:
    body:
      string: '[{"_id":"59f6ef0bbf40610016985b64","shop_id":"59df3841568f630001ef9cbc","name":"Offert","rate":100,"type":"rate","barcode":"","icon_text":"","color":"#F2BA43","start_date":"2017-10-30T09:21:15.046Z","end_date":"2017-10-30T09:21:15.046Z","test":false,"deprecated":false,"updated_at":"2024-02-07T10:29:15.380Z","created_at":"2017-10-30T09:21:15.046Z","__v":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
