interactions:
- request:
    body: '{"test":false,"name":"","price":1.0,"node_id":"59df3841568f630001ef9cbf"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/options
  response:
    body:
      string: '{"statusCode":400,"error":"Bad Request","message":"Invalid request
        payload input"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
