interactions:
- request:
    body: '{"name":""}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: PUT
    uri: https://api4.tactill.com/v1/catalog/categories/59f6ef0abf4061001698582a
  response:
    body:
      string: '{"statusCode":400,"error":"Bad Request","message":"\"name\" is not
        allowed to be empty","validation":{"source":"payload","keys":["name"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
