interactions:
- request:
    body: '{"test":false,"category_id":"5d83c74690924d0008f55d3a","taxes":["5d70d4e5be8f9f001195ccc1"],"name":"Test","icon_text":"TEST","summary":"This
      is a new article","color":"#57DB47","full_price":1.0,"taxfree_price":0.7,"barcode":"123","reference":"test","in_stock":true,"ignore_stock":false,"node_id":"59df3841568f630001ef9cbf"}'
    headers:
      Content-Type:
      - application/json
      x-api-key:
      - '*****'
    method: POST
    uri: https://api4.tactill.com/v1/catalog/articles
  response:
    body:
      string: '{"created_at":"2026-01-23T09:07:53.871Z","updated_at":"2026-01-23T09:07:53.871Z","deprecated":false,"test":false,"node_id":"59df3841568f630001ef9cbf","category_id":"5d83c74690924d0008f55d3a","discounts":[],"taxes":["5d70d4e5be8f9f001195ccc1"],"is_default":false,"name":"Test","icon_text":"TEST","summary":"This
        is a new article","image":"","color":"#57DB47","full_price":1,"taxfree_price":0.7,"barcode":"123","reference":"test","unit":"","in_stock":true,"ignore_stock":false,"options":[],"_id":"69733a6904031621a0f86d49","variations":[],"declinations":[],"__v":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: DELETE
    uri: https://api4.tactill.com/v1/catalog/articles/69733a6904031621a0f86d49
  response:
    body:
      string: '{"statusCode":200,"error":"","message":"article successfully deleted"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
