interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - '*****'
    method: GET
    uri: https://api4.tactill.com/v1/stock/movements?limit=100&filter=number%3D2000&shop_id=59df3841568f630001ef9cbc
  response:
    body:
      string: "[{\"_id\":\"61b4d252ad37c20024eb17fc\",\"deprecated\":false,\"validated_by\":[],\"motive\":\"transfer\",\"state\":\"done\",\"movements\":[{\"reference\":\"610037ff16592e9a8d2a833d\",\"barcode\":\"3760055363518\",\"category_name\":\"BSA\",\"article_id\":\"610038007a814c007de3b2a9\",\"article_name\":\"Spunky
        Citron vert & Gingembre\",\"units\":3,\"state\":\"done\",\"done_on\":\"2021-12-11T16:31:12.210Z\",\"declination_name\":\"\",\"buy_price\":0,\"out_price\":0},{\"reference\":\"6100390116592e9a8d2a833f\",\"barcode\":\"3760055363532\",\"category_name\":\"BSA\",\"article_id\":\"61003901ff11d5007d43447d\",\"article_name\":\"Spunky
        Poire & Sirop d\u2019\xE9rable\",\"units\":1,\"state\":\"done\",\"done_on\":\"2021-12-11T16:31:12.211Z\",\"declination_name\":\"\",\"buy_price\":0,\"out_price\":0}],\"created_at\":\"2021-12-11T16:31:12.212Z\",\"shop_id\":\"59df3841568f630001ef9cbc\",\"original_id\":\"0000A187EFAE-965A-406F-8999-6AF910BA7C20\",\"updated_at\":\"2021-12-11T16:31:12.212Z\",\"type\":\"out\",\"number\":\"2000\",\"__v\":0}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
